#post-container{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #34425a20;
    width: 1000px;
    width: 80%;
    height: auto;
    margin:2rem 0;
}

#post-username-container{

    padding: 1rem 0;
}

#post-name{
    margin: 0;
}

