*{
    box-sizing: border-box;
}

a, a:link, a:visited{
    color: white;
    text-decoration: none;
}

html, body{
    margin: 0;
    padding: 0;
}

#App{
    display: flex;
    flex-direction: row;
    text-align: center;
}