@keyframes errAnim {
    from {
        transform: scale(0);
        color: rgba(255, 0, 0, 0);
    }
    to {
        transform: scale(1);
        color: (255, 0, 0, 1);
    }
}

.notification{
    position: relative;
    height: 2rem;
    max-width: 1000px;
}

.errmsg,
.notmsg {
    padding: 0;
    margin: 0;
    display: absolute;
    animation-name: errAnim;
    animation-duration: 0.4s;
}

.notmsg {
    color: green;
}

.errmsg {
    color: red;
}

.offscreen {
    display: none;
}
